.about-us {
    height: 400px;
}

.about-us .text-about {
    padding-top: 20px;
    height: 50px;
}

h1 {
    font-size: 2.4rem;
}

.logoContainer {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    height: 350px;
}

.logoContainer img{
    display: absolute;
    height: 350px;
    width: 350px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
}

.about p {
    color: black;
}

.about .joinAbout-btn {
    background-color: #7851A9;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}