.exprience {
    height: 500px;
    border: 10px solid black;
}

.experience .text-experience {
    height: 100px;
}

.second-row {
    height: 200px;
}

.h3 {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.p {
    font-size: 0.8rem;
}