
.hero {
    background-image: url('../images/LandingPage/HeaderImg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 768px;
  }
  
  header {
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
  }
  
  input[type="text"] {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .logo {
    display: flex;
    align-items: center;
    height: 40px;
    width: 80px;
  }

  .logo img {
    height: 40px;
    width: 40px;
  }

  .searchBar {
    display: flex;
    border: 7px sold black;
    height: 40px;
  }
  .searchBar .search {
    border-radius: 5px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.403);
    font-size: .8rem;
    height: 30px;
    width: 400px;
    
  }

  .searchBar .searchIcon {
    /* margin-right: -70px;*/
    top: -650px;
    left: 450px;
    position: absolute;
    display: flex;
  }

  .menu {
    font-weight: bold;
  }

  .join-btn {
    border-radius: 5px;
    background-color: #7851A9;
    color: white;
    font-weight: normal;
    height: 40px;
    width: 100px;
  }

  .catchPhrase {
    display: flex;
    margin-left: 20px;
    width: 400px;
  }

  .getStarted-btn {
    border-radius: 10px;
    background-color: #7851A9;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 150px;
  }