.recentUploads {
    margin-left: 20px;
    padding: 20px;
}

.text-recent {
    margin-left: 0;
}

.text-recent .show-more {
    color: #7851A9;
    cursor: pointer;
    text-decoration: underline;
    font-style: italic;
}

.recentUploads .recent-spaces {
    width: 100%;
    display: flex;
}

.recentUploads .recent-spaces .recent-spaces-1 {
    justify-content: space-around;
}

.recent-spaces .recent-spaces-1 {
    border: 1px solid #D3D3D3;
    border-radius: 30px;
}

.recent-spaces-1 .image-container-1 {
    width: 100%;
    border-radius: 30px;
}

.recent-spaces-1 .image-container-1 img {
    width: 100%;
    border-radius: 30px;
}

.recent-spaces-1 .text-container-1 {
    width: 100%;
    padding: 5px;
}

.text-container-1 .location-icon {
    height: 30px;
    width: 30px;
}

.recent-spaces-1 .text-container-1 .p-1 {
    font-weight: bold;
}

.recent-spaces-1 .text-container-1 .p-2 {
    font-weight: bold;
}

.recent-spaces-1 .text-container-1 .p-4 {
    font-weight: bold;
    color: #7851A9;
}

.recent-spaces-1 .text-container-1 .amen-1 {
    border-top: 1px solid #D3D3D3;
    text-align: center;
}

.recent-spaces-1 .text-container-1 .amen-1 .p-5 {
    font-weight: bold;
    padding-top: 25px;
}

.recent-spaces-1 .text-container-1 .amen-1 .p-6 {
    font-weight: bold;
    border-left: 1px solid #D3D3D3;
}

.recent-spaces-1 .text-container-1 .amen-1 .bed-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.recent-spaces-1 .text-container-1 .amen-1 .bath-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}